<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<div id="bg">



  <div class="container" >

    <h1 style="font-size: 5em; height: 10em;
  display: flex;
  align-items: center;
  justify-content: center ;">Awesome Tweets</h1>

  </div>
</div>

<%- include('./partials/footer') %>
